 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 .appbar_1 {
     font-family: Montserrat, Arial;
     font-size: 15px;
     line-height: 20px;
     text-align: center;
     padding-bottom: 12px;
     text-transform: uppercase;
     font-weight: 700;
     z-index: 100;
     background-color: rgba(17, 17, 17, 0.534);
     margin-top: 1px;
     height: 100px;
 }

 .nav-link {
     color: #ffffff !important;
     text-align: center;
     position: relative;
     text-decoration: none;
     transition: color 0.3s;
 }

 .nav-link::before {
     content: '';
     position: absolute;
     width: 0;
     height: 2px;
     bottom: 0;
     left: 50%;
     background-color: blue;
     transition: width 0.4s ease-in-out;
     transform: translateX(-50%);
 }

 .nav-link:hover::before {
     width: 100%;
     box-sizing: border-box;
 }

 .nav-link:hover {
     color: whitesmoke !important;
     padding-top: 15px;

 }

 /* Media query for mobile view */
 @media (max-width: 768px) {
    .nav-link::before {
        display: none;
      }
    
      .nav-link:hover::before {
        display: block; 
        width: calc(25% - 20px); 
        left: 50%;
        transform: translateX(-50%);
      }
      .navbar-toggler{
        background-color: yellow !important;
      }
      .app_1{
        background-color: black ;
        padding-bottom: 20px;
        margin: 5px;
      }
 }

